#main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

nav, footer {
    background-color: #004E98;
    align-self: stretch;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-weight: bold;
    color: white;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6495C9;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    margin-top: 0.5rem;
}

img {
    max-width: 60%;
    margin: auto;
}

article * {
    text-align: justify;
}

article h2, article p {
    padding: 0 1rem;
}

article a, figure a {
    color: black;
}

article ul {
    padding-right: 1rem;
}

article:nth-child(2n) {
    background-color: #6495C9;
}

article:nth-child(2n+1) {
    background-color: #C4DEFA
}

blockquote {
    font-size: 2rem;
    font-style: italic;
}

.quote-author{
   text-align: right;
}

footer a {
   color: white;
}